.user-home-page {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width:1024px) {
  .user-home-page {
    flex-direction: row;
  }

  .user-home-page main {
    width: 60%;
  }

}