main {
  padding: 20px;
}

.form-title {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  line-height: 25px;
  margin-bottom: 30px;
}

.form-input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  height: 24px;
  width: 100%;
  margin-bottom: 24px;
  padding: 15px;
  background-color: transparent;
}

.form-input:focus,
.form-input:active {
  border: 1px solid #FC842D;
  border-radius: 5px;
}

.form-input::placeholder,
.blood-type {
  font-size: 14px;
  font-weight: 700;
  color: #9B9FAA;
}

.home-page-form {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.blood-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}


.blood-inputs label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9B9FAA;
}


.blood-input {
  display: none;
}

.customRadio {
  width: 20px;
  height: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  margin: 7px;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

.customRadio::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blood-input:checked+.customRadio::before {
  background-color: #FC842D;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-btn {
  background-color: #FC842D;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(252, 132, 45, 0.5);
  width: fit-content;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page-form {
    width: 80%;
    gap: 30px;
    flex-wrap: wrap;
    height: 300px;
  }

  .form-title {
    font-size: 34px;
    line-height: 47px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
  }

  .blood-type {
    margin-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
  }

  .blood-inputs {
    margin-left: 15px;
  }

}

@media only screen and (min-width: 1024px) {
  .home-page-form {
    width: 45%;
    gap: 30px;
    flex-wrap: wrap;
    height: 300px;
  }

  .form-title {
    font-size: 34px;
    line-height: 47px;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 45%;
  }

  .blood-type {
    margin-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
  }

  .blood-inputs {
    margin-left: 15px;
  }


}