.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.modal-content {
  padding: 40px 20px;
}

.calories {
  font-family: Verdana;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 20px;
}

.sub-text {
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-align: center;
}

.food-title {
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
}

.food-container {
  border-top: 1px solid #E0E0E0;
  padding: 20px 0;
}

.food-list {
  list-style-type: decimal;
  padding: 20px;
}

.food-list-item {
  margin-bottom: 15px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: capitalize;
  color: #9B9FAA;
}

.modal-btn {
  margin: 0;
}